HF_TOKEN=
WANDB_API_KEY=
WANDB_ENTITY=
PSI_HOME=/hfm
DATA_HOME=/hfm/data
HF_HOME=/hfm/cache
TORCH_HOME=/hfm/cache
UV_CACHE_DIR=/hfm/cache
HF_LEROBOT_HOME=/hfm/data/lerobot
OMP_NUM_THREADS=8
TOKENIZERS_PARALLELISM=false
DEEPSPEED_LOG_LEVEL=warning
CUDA_LAUNCH_BLOCKING=true
TF_CPP_MIN_LOG_LEVEL=3
AV_LOG_LEVEL=quiet
PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python
NO_ALBUMENTATIONS_UPDATE=1
# Setup proxy if needed
# HTTPS_PROXY=socks5://127.0.0.1:7891
# HTTP_PROXY=socks5://127.0.0.1:7891.env.sample
# HF_ENDPOINT=https://hf-mirror.com
TIMEZONE=America/Los_Angeles
TORCH_CUDA_ARCH_LIST=8.0+PTX
####  CUDA Compute Capability to GPU mapping for reference  ###
#  ┌─────────────┬───────────────────────────┐
#  │ Compute cap │           GPUs            │
#  ├─────────────┼───────────────────────────┤
#  │ 7.5         │ T4, RTX 2080, Quadro RTX  │
#  ├─────────────┼───────────────────────────┤
#  │ 8.0         │ A100, A30                 │
#  ├─────────────┼───────────────────────────┤
#  │ 8.6         │ A40, A10, RTX 3090, A6000 │
#  ├─────────────┼───────────────────────────┤
#  │ 8.9         │ L40S, L4, RTX 4090        │
#  ├─────────────┼───────────────────────────┤
#  │ 9.0         │ H100, H200                │
#  ├─────────────┼───────────────────────────┤
#  │ 10.0 / 12.0 │ B200 / RTX 5090           │
#  └─────────────┴───────────────────────────┘
